@media screen and (max-width: 480px) {
  * {
    font-size: 0.75rem;
  }
}

.cursorPoint th {
  cursor: pointer;
}

.mailToButton {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.paginateWrapper {
  display: flex;
}

.paginateCont {
  max-width: 100%;
  flex-wrap: wrap;
}

.usersTableCont {
  width: 100px;
}

/* .page-link {
  cursor: 'pointer';
  border: 1px solid red;
} */
